@{
    ViewData["Title"] = "Home Page";
    int i = 1;
    int y = 0;
}
@using CED.Domain.Shared.ClassInformationConsts
@model DashBoardViewModel

 <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
          <!-- Class Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card" id="_TotalClasses">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalClasses", "Home", new { ByTime = "" })')">
                        Today
                      </a>
                    </li>
                    <li>
                      
                      <a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalClasses", "Home", new { ByTime = ByTime.Month })')">
                        This Month
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalClasses", "Home", new { ByTime = ByTime.Year })')">
                        This Year
                      </a>
                    </li>
                    
                  </ul>
                </div>

                <div class="card-body">
                  <partial name="_TotalClasses" model="Model.ClassTotalValueModel" />
                </div>

              </div>
            </div><!-- End Revenue Card -->
            <!-- Tutors Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card" id="_TotalTutors">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                     <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalTutors", "Home", new { ByTime = "" })')">
                         Today
                       </a></li>
                    <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalTutors", "Home", new { ByTime = ByTime.Month })')">
                        This Month
                      </a></li>
                    <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalTutors", "Home", new { ByTime = ByTime.Year })')">
                        This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <partial name="_TotalTutors" model="Model.TutorTotalValueModel" />
                  
                </div>

              </div>
            </div><!-- End Tutors Card -->

          <!-- Students Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card" id="_TotalStudents">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalStudents", "Home", new { ByTime = "" })')">
                         Today
                       </a></li>
                  <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalStudents", "Home", new { ByTime = ByTime.Month })')">
                      This Month
                    </a></li>
                  <li><a class="dropdown-item" href="javascript:TotalValueCardReload('@Url.Action("FitlerTotalStudents", "Home", new { ByTime = ByTime.Year })')">
                      This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <partial name="_TotalStudents" model="Model.StudentTotalValueModel" />
                  
                </div>
              </div>

            </div><!-- End Students Card -->
          
          
            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    <li>
                      <a class="dropdown-item"
                         href="javascript:ChartReload('@Url.Action("FitlerLineChart", "Home", new { ByTime = "week" })')">
                        This Week
                      </a>
                    </li>
                    <li>
                      
                      <a class="dropdown-item"
                         href="javascript:ChartReload('@Url.Action("FitlerLineChart", "Home", new { ByTime = "month" })')">
                        This Month
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports </h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                       window.reportsChartStore = new ApexCharts(document.querySelector("#reportsChart"), {
                        series: @Html.Raw(Model.ChartWeekData),
                        id:'reportsChart1',
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: @Html.Raw(@Model.DatesWeekData),
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      });
                      reportsChartStore.render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Classes -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Classes <span>| Today</span></h5>

                  <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Learning Mode</th>
                        <th scope="col">Charge Fee</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                     @foreach (var classInfo in Model.ClassTotalValueModel.Models.Where(x => x.Status == Status.Waiting))
                     {
                       @if (i > 4)
                       {
                         break;
                       }
                       <tr>
                         <th scope="row" class="text-primary">
                           @i
                         </th>
                         <td>
                           <a href="@Url.Action("Edit","ClassInformation",new {id =classInfo.Id})" class="text-primary">@classInfo.Title</a>
                         </td>
                         <td>@classInfo.LearningMode</td>
                         <td>
                           <a href="@Url.Action("Edit", "ClassInformation", new {id =classInfo.Id})" class="text-primary">
                             $@classInfo.ChargeFee
                           </a>
                           </td>
                         @switch (classInfo.Status)
                         {
                           case Status.Waiting:
                             <td>
                               <span class="badge bg-primary">@classInfo.Status</span>
                             </td>
                             break;
                           case Status.Canceled:
                             <td>
                               <span class="badge bg-danger">@classInfo.Status</span>
                               
                             </td>
                             break;
                           case Status.Confirmed:
                             <td>
                               <span class="badge bg-success">@classInfo.Status</span>
                               
                             </td>
                             break;
                           case Status.OnConfirming:
                             <td>
                               <span class="badge bg-warning">@classInfo.Status</span>
                               
                             </td>
                             break;
                         } 
                       </tr>
                       i++;
                     }
                    </tbody>
                  </table>
                  <a asp-controller="ClassInformation" asp-action="Index">See more...</a>
                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Tutors </h5>

                    <!-- Table with stripped rows -->
                     <table id="example" class="table datatable">
                         <thead>
                             <tr>
                                 <!-- a avatar comlumn will be added -->
                                 <th scope="col">#</th>
                                 <th scope="col">Full Name</th>
                                 <th scope="col">Is Verified</th>
                                 <th scope="col">University</th>
                                 <th scope="col">Phone Number</th>
                                 <th data-sortable="false" scope="col" style="width:30%;">Actions</th>
                             </tr>
                         </thead>
                         <tbody>
             
                             @foreach (var user in Model.TutorTotalValueModel.Models)
                             {
                                 y++;
                                 <tr>
                                     <th scope="row">
                                         <input hidden name="Id" value="@user.Id" />
                                         @y
                                     </th>
                                     <td>@user.FirstName @user.LastName</td>
                                   <td>
                                     
                                     @user.IsVerified.ToString()
                                   </td>
                                     <td>@user.University</td>
                                     <td>@user.PhoneNumber</td>
                                     <td>
                                         <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>|
                                         <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">Details</a> |
                                         
                                         <a href="#" onclick="OpenGetDialog('@Url.Action("Delete","User",new {id = @user.Id})','Are you sure you want to delete this user?');">Delete</a>
                                     </td>
                                 </tr>
                             }
                         </tbody>
                     </table>
                     <!-- End Table with stripped rows -->

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Recent Activity <span>| Today</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">56 min</div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    Voluptatem blanditiis blanditiis eveniet
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    Voluptates corrupti molestias voluptatem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">1 day</div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 days</div>
                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                  <div class="activity-content">
                    Est sit eum reiciendis exercitationem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">4 weeks</div>
                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                  <div class="activity-content">
                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->
          
          <!-- Area Chart -->
          <div class="card" id="areaChartCard">
            <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                              </li>
            
                              <li><a class="dropdown-item" href="#">Today</a></li>
                               <li>
                                 <a class="dropdown-item"
                                    href="javascript:AreaChartReload('@Url.Action("FilterAreaChart", "Home", new { ByTime = ByTime.Week})')">
                                   This Week
                                 </a>
                                 </li>
                              <li><a class="dropdown-item" href="#">This Month</a></li>
                              <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div><!-- Area Chart -->
            
            <div class="card-body">
              <h5 class="card-title">Area Chart</h5>

              <div id="areaChart"></div>

              <script>
              document.addEventListener("DOMContentLoaded", () => {
                const series = {
                  "monthDataSeries1": {
                    "prices": [
                      8107.85,
                      8128.0,
                      8122.9,
                      8165.5,
                      8340.7,
                      8423.7,
                      8423.5,
                      8514.3,
                      8481.85,
                      8487.7,
                      8506.9,
                      8626.2,
                      8668.95,
                      8602.3,
                      8607.55,
                      8512.9,
                      8496.25,
                      8600.65,
                      8881.1,
                      9340.85
                    ],
                    "dates": [
                      "13 Nov 2017",
                      "14 Nov 2017",
                      "15 Nov 2017",
                      "16 Nov 2017",
                      "17 Nov 2017",
                      "20 Nov 2017",
                      "21 Nov 2017",
                      "22 Nov 2017",
                      "23 Nov 2017",
                      "24 Nov 2017",
                      "27 Nov 2017",
                      "28 Nov 2017",
                      "29 Nov 2017",
                      "30 Nov 2017",
                      "01 Dec 2017",
                      "04 Dec 2017",
                      "05 Dec 2017",
                      "06 Dec 2017",
                      "07 Dec 2017",
                      "08 Dec 2017"
                    ]
                  },
                  "monthDataSeries2": {
                    "prices": [
                      8423.7,
                      8423.5,
                      8514.3,
                      8481.85,
                      8487.7,
                      8506.9,
                      8626.2,
                      8668.95,
                      8602.3,
                      8607.55,
                      8512.9,
                      8496.25,
                      8600.65,
                      8881.1,
                      9040.85,
                      8340.7,
                      8165.5,
                      8122.9,
                      8107.85,
                      8128.0
                    ],
                    "dates": [
                      "13 Nov 2017",
                      "14 Nov 2017",
                      "15 Nov 2017",
                      "16 Nov 2017",
                      "17 Nov 2017",
                      "20 Nov 2017",
                      "21 Nov 2017",
                      "22 Nov 2017",
                      "23 Nov 2017",
                      "24 Nov 2017",
                      "27 Nov 2017",
                      "28 Nov 2017",
                      "29 Nov 2017",
                      "30 Nov 2017",
                      "01 Dec 2017",
                      "04 Dec 2017",
                      "05 Dec 2017",
                      "06 Dec 2017",
                      "07 Dec 2017",
                      "08 Dec 2017"
                    ]
                  },
                  "monthDataSeries3": {
                    "prices": [
                      7114.25,
                      7126.6,
                      7116.95,
                      7203.7,
                      7233.75,
                      7451.0,
                      7381.15,
                      7348.95,
                      7347.75,
                      7311.25,
                      7266.4,
                      7253.25,
                      7215.45,
                      7266.35,
                      7315.25,
                      7237.2,
                      7191.4,
                      7238.95,
                      7222.6,
                      7217.9,
                      7359.3,
                      7371.55,
                      7371.15,
                      7469.2,
                      7429.25,
                      7434.65,
                      7451.1,
                      7475.25,
                      7566.25,
                      7556.8,
                      7525.55,
                      7555.45,
                      7560.9,
                      7490.7,
                      7527.6,
                      7551.9,
                      7514.85,
                      7577.95,
                      7592.3,
                      7621.95,
                      7707.95,
                      7859.1,
                      7815.7,
                      7739.0,
                      7778.7,
                      7839.45,
                      7756.45,
                      7669.2,
                      7580.45,
                      7452.85,
                      7617.25,
                      7701.6,
                      7606.8,
                      7620.05,
                      7513.85,
                      7498.45,
                      7575.45,
                      7601.95,
                      7589.1,
                      7525.85,
                      7569.5,
                      7702.5,
                      7812.7,
                      7803.75,
                      7816.3,
                      7851.15,
                      7912.2,
                      7972.8,
                      8145.0,
                      8161.1,
                      8121.05,
                      8071.25,
                      8088.2,
                      8154.45,
                      8148.3,
                      8122.05,
                      8132.65,
                      8074.55,
                      7952.8,
                      7885.55,
                      7733.9,
                      7897.15,
                      7973.15,
                      7888.5,
                      7842.8,
                      7838.4,
                      7909.85,
                      7892.75,
                      7897.75,
                      7820.05,
                      7904.4,
                      7872.2,
                      7847.5,
                      7849.55,
                      7789.6,
                      7736.35,
                      7819.4,
                      7875.35,
                      7871.8,
                      8076.5,
                      8114.8,
                      8193.55,
                      8217.1,
                      8235.05,
                      8215.3,
                      8216.4,
                      8301.55,
                      8235.25,
                      8229.75,
                      8201.95,
                      8164.95,
                      8107.85,
                      8128.0,
                      8122.9,
                      8165.5,
                      8340.7,
                      8423.7,
                      8423.5,
                      8514.3,
                      8481.85,
                      8487.7,
                      8506.9,
                      8626.2
                    ],
                    "dates": [
                      "02 Jun 2017",
                      "05 Jun 2017",
                      "06 Jun 2017",
                      "07 Jun 2017",
                      "08 Jun 2017",
                      "09 Jun 2017",
                      "12 Jun 2017",
                      "13 Jun 2017",
                      "14 Jun 2017",
                      "15 Jun 2017",
                      "16 Jun 2017",
                      "19 Jun 2017",
                      "20 Jun 2017",
                      "21 Jun 2017",
                      "22 Jun 2017",
                      "23 Jun 2017",
                      "27 Jun 2017",
                      "28 Jun 2017",
                      "29 Jun 2017",
                      "30 Jun 2017",
                      "03 Jul 2017",
                      "04 Jul 2017",
                      "05 Jul 2017",
                      "06 Jul 2017",
                      "07 Jul 2017",
                      "10 Jul 2017",
                      "11 Jul 2017",
                      "12 Jul 2017",
                      "13 Jul 2017",
                      "14 Jul 2017",
                      "17 Jul 2017",
                      "18 Jul 2017",
                      "19 Jul 2017",
                      "20 Jul 2017",
                      "21 Jul 2017",
                      "24 Jul 2017",
                      "25 Jul 2017",
                      "26 Jul 2017",
                      "27 Jul 2017",
                      "28 Jul 2017",
                      "31 Jul 2017",
                      "01 Aug 2017",
                      "02 Aug 2017",
                      "03 Aug 2017",
                      "04 Aug 2017",
                      "07 Aug 2017",
                      "08 Aug 2017",
                      "09 Aug 2017",
                      "10 Aug 2017",
                      "11 Aug 2017",
                      "14 Aug 2017",
                      "16 Aug 2017",
                      "17 Aug 2017",
                      "18 Aug 2017",
                      "21 Aug 2017",
                      "22 Aug 2017",
                      "23 Aug 2017",
                      "24 Aug 2017",
                      "28 Aug 2017",
                      "29 Aug 2017",
                      "30 Aug 2017",
                      "31 Aug 2017",
                      "01 Sep 2017",
                      "04 Sep 2017",
                      "05 Sep 2017",
                      "06 Sep 2017",
                      "07 Sep 2017",
                      "08 Sep 2017",
                      "11 Sep 2017",
                      "12 Sep 2017",
                      "13 Sep 2017",
                      "14 Sep 2017",
                      "15 Sep 2017",
                      "18 Sep 2017",
                      "19 Sep 2017",
                      "20 Sep 2017",
                      "21 Sep 2017",
                      "22 Sep 2017",
                      "25 Sep 2017",
                      "26 Sep 2017",
                      "27 Sep 2017",
                      "28 Sep 2017",
                      "29 Sep 2017",
                      "03 Oct 2017",
                      "04 Oct 2017",
                      "05 Oct 2017",
                      "06 Oct 2017",
                      "09 Oct 2017",
                      "10 Oct 2017",
                      "11 Oct 2017",
                      "12 Oct 2017",
                      "13 Oct 2017",
                      "16 Oct 2017",
                      "17 Oct 2017",
                      "18 Oct 2017",
                      "19 Oct 2017",
                      "23 Oct 2017",
                      "24 Oct 2017",
                      "25 Oct 2017",
                      "26 Oct 2017",
                      "27 Oct 2017",
                      "30 Oct 2017",
                      "31 Oct 2017",
                      "01 Nov 2017",
                      "02 Nov 2017",
                      "03 Nov 2017",
                      "06 Nov 2017",
                      "07 Nov 2017",
                      "08 Nov 2017",
                      "09 Nov 2017",
                      "10 Nov 2017",
                      "13 Nov 2017",
                      "14 Nov 2017",
                      "15 Nov 2017",
                      "16 Nov 2017",
                      "17 Nov 2017",
                      "20 Nov 2017",
                      "21 Nov 2017",
                      "22 Nov 2017",
                      "23 Nov 2017",
                      "24 Nov 2017",
                      "27 Nov 2017",
                      "28 Nov 2017"
                    ]
                  }
                }
                new ApexCharts(document.querySelector("#areaChart"), {
                  series: [{
                    name: "STOCK ABC",
                    data: series.monthDataSeries1.prices
                  },
                  {
                    name: "STOCK ABD",
                    data: series.monthDataSeries2.prices
                  },
                  ],
                  chart: {
                    type: 'area',
                    height: 350,
                    zoom: {
                      enabled: false
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  stroke: {
                    curve: 'straight'
                  },
                  subtitle: {
                    text: 'Price Movements',
                    align: 'left'
                  },
                  labels: series.monthDataSeries1.dates,
                  xaxis: {
                    type: 'datetime',
                  },
                  yaxis: {
                    opposite: true
                  },
                  legend: {
                    horizontalAlign: 'left'
                  }
                }).render();
              });
            </script>
            

            </div>
          </div>
            <!-- End Area Chart -->
          <!-- Current Status PieChart -->
          <div class="card" id="pieChartCard">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li>
                  <a class="dropdown-item" href="javascript:PieChartReload('@Url.Action("FitlerPieChart", "Home", new { ByTime = "" })')">
                    Today
                  </a>
                </li>
               
                <li>
                  <a class="dropdown-item"
                     href="javascript:PieChartReload('@Url.Action("FitlerPieChart", "Home", new { ByTime = ByTime.Week })')">
                    This Week
                  </a>
                </li>
                <li><a class="dropdown-item"  href="javascript:PieChartReload('@Url.Action("FitlerPieChart", "Home", new { ByTime = ByTime.Month })')">
                  This Month
                </a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title"> Current Status <span>| Today</span></h5>

               <!-- Pie Chart -->
              <div id="pieChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  window.pieChartStore = new ApexCharts(document.querySelector("#pieChart"), {
                    series: @Html.Raw(Model.PieWeekData1),
                    chart: {
                      height: 350,
                      type: 'pie',
                      toolbar: {
                        show: true
                      }
                    },
                    labels: @Html.Raw(Model.PieWeekData2)
                  });
                  pieChartStore.render();
                });
              </script>
              <!-- End Pie Chart -->

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

@section Scripts
{
  
  <script>
 
  </script>
}
